<div [style]="smallScreen ? 'max-height:95%; max-width: 95%; ' : ''">
  <div *ngIf="noCourses()">
    <h1 class="title-text" style="text-align: center">No course selected</h1>
    <p class="center-div-2" style="width: 70%; text-align: center;">Click on the <strong>white</strong> component of a
      course card to have its schedule show it.</p>

  </div>


  <h1 *ngIf="!hideCourseCode" class="title-text" style="text-align: center">{{curCourseCode}}</h1>

  <div class="v-pad-it">
    <div class="flexith-table" [style.padding]="smallScreen ? '' : '24px'">

      <div [ngClass]="{'margin-it': !smallScreen}" *ngFor="let crs of storedCourses">
        <div [ngClass]="{'pad-it': !smallScreen}">
          <div>

            <app-timings-table
              [crs]="crs"
              [verboseLecture]="true"
              [storedCourses]="storedCourses"
              [padLectures]="false"
            ></app-timings-table>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>