<mat-dialog-content class="mat-typography">
    <div class="v-pad-it">
        <div class="flexith">
            <div class="margin-it" *ngFor="let crs of storedCourses">
                <div class="pad-it">
                    <div>

                        <table mat-table [dataSource]="
                        sortSections(ensureCourseFormat(crs.sections))
                        " multiTemplateDataRows class="mat-elevation-z8" [ngClass]="{accent:true}"
                            [style.background-color]="getTableColor(crs)">

                            <!-- Lec column -->
                            <ng-container matColumnDef="lec">
                                <th mat-header-cell *matHeaderCellDef> ACT </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.name }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ins">
                                <th mat-header-cell *matHeaderCellDef> INS </th>
                                <td mat-cell *matCellDef="let element">
                                    <ul style="list-style-type:none; padding-left: 0;">
                                        <li *ngFor="let ins of ensureInstructorsFromElement(element)">
                                            {{ins.firstName}} {{ins.lastName}}
                                        </li>
                                    </ul>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="time">
                                <th mat-header-cell *matHeaderCellDef> TIME </th>
                                <td mat-cell *matCellDef="let element">

                                    <div class="flexit">
                                        <div>
                                            <div class="flexit">
                                                <div *ngFor="let meets of groupMeetings(ensureSchedule(element))"
                                                    class="r-chip" [style.min-height]="24"
                                                    [style.background-color]="getDayColor(meets[0].start.day)"
                                                    [style.color]="getDayColoredText(meets[0].start.day)">
                                                    <div class="meeting-day"
                                                        [style.background-color]="getDayBrightenedColors(meets[0].start.day)">
                                                        <div class="vert-center">
                                                            {{ getDayCode(meets[0].start.day) }}
                                                        </div>
                                                    </div>

                                                    <div class="meeting-time">
                                                        <div class="vert-center">
                                                            <div class="flex-horizontal-nowrap">
                                                                <div>
                                                                    {{getTimeCode(meets[0].start.millisofday)}}-{{getTimeCode(meets[0].end.millisofday)}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="assigned-room">
                                                        <div class="flex-horizontal-nowrap">
                                                            <div *ngFor="let mt4 of getRidOfDuplicateLocations(meets)">
                                                                <a [attr.href]="mt4.building.buildingUrl"
                                                                    target="_blank">
                                                                    {{ mt4.building.buildingCode }} {{
                                                                    mt4.building.buildingRoomNumber }}</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                </td>
                            </ng-container>

                            <ng-container matColumnDef="delivery">
                                <th mat-header-cell *matHeaderCellDef> DELIVERY </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="center-it">
                                        <div class="allow-wrap">
                                            <mat-icon matTooltipPosition="right" matTooltip="{{getToolTip(element)}}">
                                                {{getIcon(element)}}
                                            </mat-icon>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="expand">

                                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button aria-label="expand row"
                                        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                                        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                                        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                                    </button>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsExpanded.length"
                                    style="padding-bottom: 0px; padding-top: 0px;">





                                    <div class="example-element-detail"
                                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                                        <div class="flexit">
                                            <div *ngIf="notNullEmpty(element.subTitle)">
                                                <strong>Subtitle</strong>
                                                <p>
                                                    {{ element.subTitle }}</p>

                                            </div>

                                            <div style="width: 340px;"
                                            *ngIf="sectionIsLecture(element)"
                                            >
                                                <!-- Things start here. Extra div just in case. -->
                                                <!-- Enrollment control -->
                                                <strong
                                                >Enrollment controls ({{cutOutUndefined(element.enrolmentInd)}})</strong>




                                                <div>
                                                    <ul>
                                                        <li
                                                            *ngFor="let ctrl of dupeFas(createEnrolmentControlsReadable(element))">
                                                            {{ctrl}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div *ngIf="getNotes(element) !== ''">
                                                <strong>Notes</strong>
                                                <p [innerHTML]="getNotes(element)"></p>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>


                            <!-- Disclaimer column -->
                            <ng-container matColumnDef="disclaimer">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                    <!-- Please note that the cost of items displayed are completely and totally made up. -->
                                    <div style="max-width: 340px; padding-top: 12px;
                                    padding-bottom: 8px;" [innerHTML]="ensureNotes(crs.notes)"></div>

                                </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumnsExpanded"></tr>
                            <tr mat-row *matRowDef="let element; columns: displayedColumnsExpanded;"
                                class="example-element-row" [class.example-expanded-row]="expandedElement === element"
                                (click)="expandedElement = expandedElement === element ? null : element">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
                            </tr>



                            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsExpanded"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsExpanded;"
                                [class.example-expanded-row]="expandedElement === row"
                                (click)="expandedElement = expandedElement === row ? null : row"></tr> -->



                            <!-- FOOTER ROW BELOW -->
                            <ng-container *ngIf="ensureNotes(crs.notes) !== ''">
                                <tr mat-footer-row *matFooterRowDef="
                            ensureNotes(crs.notes) !== '' ? 
                            ['disclaimer'] : []
                            " class="example-second-footer-row"></tr>
                            </ng-container>

                        </table>


                    </div>



                </div>

            </div>
        </div>

    </div>


</mat-dialog-content>