


.title-text {
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}

.center-div-2 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.flexith-table {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  gap: 20px;
  margin-left: 5px;
}

.v-pad-it {
  padding-bottom: 15px;
}

.margin-it {
  margin-left: 15px;
  margin-right: 15px;
}

.pad-it {
  padding: 10px 0px 20px 0px;
  // width: 100%;
  // border: 1px solid #4CAF50;
}