<div >
<div class="translucent-wrapper">

    <div class="drop-box" [ngStyle]="{'background-color': getColor(), 'color': getTextColor()}">
        <mat-icon
        style="padding-left: 2px; padding-top: 2.1px; margin-right: -1px;"
          aria-hidden="false" aria-label="Example home icon" >
          do_not_disturb
        <!-- arrow_downwards -->
        </mat-icon>
        <div class="text-in-drop-box" *ngIf="dropInfo.o > 0">
            {{fmtAsPercent(getDropPercent())}}%
        </div>
        <div class="text-in-drop-box" style="letter-spacing: -2px;" *ngIf="dropInfo.o <= 0">
            -&nbsp;-%
        </div>

    </div>
</div></div>