<div class="center">

    <h1 class="title-text"> UofT Course list </h1>
    <div class="flexit02">
        <p> Search for the first three letters of any course code.

            Most UofT undergraduate courses are supported.


        </p>

        <ul class="forceleft">
            <li>
                Tap on the <strong>colored</strong> component of a card to expand or contract the course description.
            </li>
            <li>Tap on the <strong>white</strong> component of a card to bring up its timings.
            </li>
            <li>Breadths are represented as the color strip on the right (Red=BR1, Blue=BR2, Yellow=BR3, Green=BR4,
                Purple=BR5).
            </li>
            <li>View enrollment controls by clicking on the section name or instructor when a course's schedule is open.
            </li>
            <li>The export button can be found on the bottom of the timetable (right side).</li>
            <li>Changing the session and reloading resets your timetable.</li>
            <li>When importing, if the size of the set of desginators is larger than {{crsGetter.MAX_DESGINATORS}}, then your timetable may display incomplete data.</li>
            <li><strong>Data may be outdated!</strong></li>
            <li>For updated enrollment numbers, check out <a href="https://icprplshelp.github.io/UofT-Enrollment-Tracker/">timetable tracker</a>.</li>
        </ul>

        
        
        <div class="flex-gap">
            <mat-checkbox color="primary" [(ngModel)]="constants.is24hour"
                matTooltip="When OFF, display 12-hour time, with a 'p' from 8pm to 11pm" matTooltipPosition="above">24
                Hour Time</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="constants.hideSpecial" matTooltip="Hide LEC2000-LEC2999 sections"
                matTooltipPosition="above">Hide special</mat-checkbox>
            <!-- <mat-checkbox color="primary" [(ngModel)]="enableTTB"
                matTooltip="Enable the option to schedule your courses here" matTooltipPosition="above">Enable Timetable
                Selection</mat-checkbox> -->
            <mat-checkbox color="primary" [(ngModel)]="constants.oneSectionAtATime"
                matTooltip="Prevents you from selecting more than one section per course" matTooltipPosition="above">No
                duplicate sections</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="constants.courseListOnly"
            matTooltip="Prevents the timetable from showing" matTooltipPosition="above">Course list only</mat-checkbox>

        </div>
        <app-file-opener 
            [buttonPrompt]="'Import course selections'"
            [fileProcessor]="importJsonFunction"
        ></app-file-opener>




        <a href="https://ttb.utoronto.ca/">Source of course information</a>
    </div>
    <div class="flexit01">




        <mat-form-field class="example-form-field" appearance="fill" (keydown)="keyDownFunction($event)">
            <mat-label>Course designators</mat-label>

            <input matInput type="text" [(ngModel)]="courseFilter">
            <mat-error *ngIf="courseFilter.length >= 4">
                This search can't be more specific than the first three letters of a course
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="sessionsList.length >= 2">
            <mat-label>Session</mat-label>
            <mat-select [(value)]="currentSession">
                <mat-option *ngFor="let sesNum of sessionsList" [value]="sesNum">
                    {{sesNum}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button id="reloadit" matTooltip="Reload all courses" matTooltipPosition="right" type="button"
            mat-stroked-button (click)="
obtainEverything()
">RELOAD IT</button>
    </div>


    <button *ngIf="isSmallScreen && !constants.courseListOnly"
    id="timetabledisplay" matTooltip="Display the visual timetable" matTooltipPosition="below" type="button"
            mat-stroked-button (click)="
            parentHideCourseList()
">Display visual timetable</button>

    <p *ngIf="errorMessage !== ''" style="padding-bottom:6px; color: red;">{{errorMessage}}</p>

</div>
<ul>
    <!-- <li *ngFor="let coursePack of condensedCourseList">

            {{coursePack[0].code }}

            <ul *ngFor="let crs of coursePack">
                <li>{{crs.code}}-{{crs.sectionCode}}</li>
            </ul>

        </li> -->
</ul>
<div>

    <div class="row" [class.row-shorten-it]="!isSmallScreen">

        <div class="card" *ngFor="let coursePack of condensedCourseList"
            [style.min-width]="checkCanShowDescription(coursePack[0].code) ? 'min(max(35%, 420px), 82%)' : 'min(max(200px, 15%), 82%)'">
            <div class="card-header" [style.background-color]="
            constants.levelColors[whatLevel(coursePack[0].code)]
            " (click)="
            addToCanShowDescriptions(coursePack[0].code)
            ">
                <div>
                    <div class="brq-bumper" style="color: white;" *ngFor="let br of
            [whatBreadths2(coursePack[0].breadths)]">

                        <div *ngFor="let b of br" [style.background-color]="constants.brColors[b]"
                            [style.height.%]="100/br.length" class="brq-square">
                        </div>

                    </div>
                </div>

                <div *ngIf="oneHasOnline(coursePack)" class="online-bumper">
                    <mat-icon [matTooltipShowDelay]="200" matTooltipPosition="left" matTooltip="Has online lectures">
                        wifi
                    </mat-icon>
                </div>

                <div class="session-bumper">
                    <div *ngIf="isThisCourseOfferedInThisTerm('F', coursePack)" class="session-square"
                        [style.background-color]="'LightSalmon'">
                        <div class="fsy" matTooltip="offered in fall" matTooltipPosition="left">
                            F

                        </div>
                    </div>

                    <div *ngIf="isThisCourseOfferedInThisTerm('S', coursePack)" class="session-square"
                        [style.background-color]="'LightBlue'">
                        <div class="fsy" matTooltip="offered in winter" matTooltipPosition="left">
                            S
                        </div>
                    </div>

                    <div *ngIf="isThisCourseOfferedInThisTerm('Y', coursePack)" class="session-square"
                        [style.background-color]="'MediumOrchid'" style="min-width: 40px;">
                        <div class="fsy" matTooltip="offered year-wide" matTooltipPosition="left">
                            Y
                        </div>
                    </div>

                    <div class="session-square" *ngFor="let hrs of [calculateHourCommitment(coursePack)]">
                        <div class="hour-commitment-card" matTooltipPosition="right"
                            [matTooltip]="'Time: ' + hrs + 'h/week'">
                            {{strMultiply("•", hrs, "")}}
                        </div>
                    </div>

                </div>
                <div style="position: relative; padding:4px 0px;">
                    {{coursePack[0].code}}







                </div>
            </div>
            <div class="card-body" (click)="selectCourse(coursePack)">
                <p [innerHTML]="coursePack[0].name">
                </p>
                <div class="card-description" *ngIf="checkCanShowDescription(coursePack[0].code)"
                    style="text-align: left">
                    <div>
                        {{getDesc(coursePack[0])}}

                    </div>

                    <div *ngIf="!isNullOrEmpty(getPrq(coursePack[0]))">
                        <div class="loud-header" matTooltip="You must pass these courses before
                        taking this one" matTooltipPosition="left" matTooltipShowDelay="200">Prerequisite</div>
                        <div  [innerHTML]="addSpacesBetweenSlashes(
                        stripWrappingPs(getPrq(coursePack[0])))"></div>
                    </div>

                    <div *ngIf="!isNullOrEmpty(getRec(coursePack[0]))">
                        <div class="loud-header"
                            matTooltip="You are recommended, but are not required, to take these courses before this one"
                            matTooltipPosition="left">
                            Recommended preparation
                        </div>
                        <div [innerHTML]="addSpacesBetweenSlashes(
                            stripWrappingPs(getRec(coursePack[0])))"></div>
                    </div>

                    <div *ngIf="!isNullOrEmpty(getCrq(coursePack[0])
)">
                        <div class="loud-header" matTooltip="You must take these course concurrently or have passed these courses before
                        taking this one" matTooltipPosition="left" matTooltipShowDelay="200">Corequisite</div>
                        <div [innerHTML]="addSpacesBetweenSlashes(
                        stripWrappingPs(getCrq(coursePack[0])))">
                        </div>
                    </div>

                    <div *ngIf="!isNullOrEmpty(getExc(coursePack[0]))">
                        <div class="loud-header" matTooltip="You can't recieve credit for this course if you've passed
                        or are taking any of these concurrently" matTooltipPosition="left" matTooltipShowDelay="200">
                            Exclusion</div>
                        <div [innerHTML]="addSpacesBetweenSlashes(
                        stripWrappingPs(getExc(coursePack[0])))">
                        </div>
                    </div>

                    <div *ngIf="ensureList(coursePack[0]?.cmCourseInfo?.breadthRequirements).length !== 0">
                        <div class="loud-header"
                            matTooltip="This course fullfills these breadth requirements, credits split among them"
                            matTooltipPosition="left" matTooltipShowDelay="200">
                            Breadths</div>
                        <div *ngFor="let brq of ensureList(coursePack[0].cmCourseInfo.breadthRequirements)">
                            {{brq}}
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>



</div>