<ng-container>
    <div class="card-header" [style.background-color]="
constants.levelColors[whatLevel(coursePack[0].code)]
" (click)="
addToCanShowDescriptions(coursePack[0].code)
">
        <div>
            <div class="brq-bumper" style="color: white;" *ngFor="let br of
[whatBreadths2(coursePack[0].breadths)]">

                <div *ngFor="let b of br" [style.background-color]="constants.brColors[b]"
                    [style.height.%]="100/br.length" class="brq-square">
                </div>

            </div>
        </div>

        <div *ngIf="oneHasOnline(coursePack)" class="online-bumper">
            <mat-icon [matTooltipDisabled]="constants.disableToolTips" matTooltipShowDelay="800"
                matTooltipPosition="left" matTooltip="Has online lectures">
                wifi
            </mat-icon>
        </div>

        <div class="session-bumper">
            <div *ngIf="isThisCourseOfferedInThisTerm('F', coursePack)" class="session-square"
                [style.background-color]="'LightSalmon'">
                <div class="fsy" matTooltipShowDelay="800" [matTooltipDisabled]="constants.disableToolTips"
                    matTooltip="offered in fall" matTooltipPosition="left">
                    F

                </div>
            </div>

            <div *ngIf="isThisCourseOfferedInThisTerm('S', coursePack)" class="session-square"
                [style.background-color]="'LightBlue'">
                <div class="fsy" matTooltipShowDelay="800" [matTooltipDisabled]="constants.disableToolTips"
                    matTooltip="offered in winter" matTooltipPosition="left">
                    S
                </div>
            </div>

            <div *ngIf="isThisCourseOfferedInThisTerm('Y', coursePack)" class="session-square"
                [style.background-color]="'MediumOrchid'" style="min-width: 40px;">
                <div class="fsy" matTooltipShowDelay="800" [matTooltipDisabled]="constants.disableToolTips"
                    matTooltip="offered year-wide" matTooltipPosition="left">
                    Y
                </div>
            </div>

            <div class="session-square" *ngFor="let hrs of [calculateHourCommitment(coursePack)]">
                <div class="hour-commitment-card" matTooltipPosition="right" matTooltipShowDelay="800"
                    [matTooltipDisabled]="constants.disableToolTips" [matTooltip]="'Time: ' + hrs + 'h/week'">
                    {{strMultiply("•", hrs, "")}}
                </div>
            </div>



        </div>

        <div class="drop-bumper">
            <app-drop-counter matTooltip="Drop rate" [matTooltipDisabled]="constants.disableToolTips"
                matTooltipPosition="right" matTooltipShowDelay="800"
                [dropInfo]="getDropInfo(coursePack[0].code)"></app-drop-counter>
        </div>

        <div style="position: relative; padding:4px 0px;">
            {{coursePack[0].code}}







        </div>
    </div>
    <div class="card-body" (click)="selectCourse(coursePack)">
        <p [innerHTML]="coursePack[0].name">
        </p>

        <!-- <p>DROPS: {{ getDrops(coursePack[0].code) | percent }}</p> -->

        <div class="card-description" *ngIf="checkCanShowDescription(coursePack[0].code)" style="text-align: left">
            <div>
                {{getDesc(coursePack[0])}}

            </div>

            <div *ngIf="!isNullOrEmpty(getPrq(coursePack[0]))">
                <div [matTooltipDisabled]="constants.disableToolTips" class="loud-header" matTooltip="You must pass these courses before
        taking this one" matTooltipPosition="left" matTooltipShowDelay="200">Prerequisite</div>
                <div [innerHTML]="addSpacesBetweenSlashes(
        stripWrappingPs(getPrq(coursePack[0])))"></div>
            </div>

            <div *ngIf="!isNullOrEmpty(getRec(coursePack[0]))">
                <div class="loud-header" [matTooltipDisabled]="constants.disableToolTips"
                    matTooltip="You are recommended, but are not required, to take these courses before this one"
                    matTooltipPosition="left">
                    Recommended preparation
                </div>
                <div [innerHTML]="addSpacesBetweenSlashes(
            stripWrappingPs(getRec(coursePack[0])))"></div>
            </div>

            <div *ngIf="!isNullOrEmpty(getCrq(coursePack[0])
)">
                <div [matTooltipDisabled]="constants.disableToolTips" class="loud-header" matTooltip="You must take these course concurrently or have passed these courses before
        taking this one" matTooltipPosition="left" matTooltipShowDelay="200">Corequisite</div>
                <div [innerHTML]="addSpacesBetweenSlashes(
        stripWrappingPs(getCrq(coursePack[0])))">
                </div>
            </div>

            <div *ngIf="!isNullOrEmpty(getExc(coursePack[0]))">
                <div class="loud-header" [matTooltipDisabled]="constants.disableToolTips" matTooltip="You can't recieve credit for this course if you've passed
        or are taking any of these concurrently" matTooltipPosition="left" matTooltipShowDelay="200">
                    Exclusion</div>
                <div [innerHTML]="addSpacesBetweenSlashes(
        stripWrappingPs(getExc(coursePack[0])))">
                </div>
            </div>

            <div *ngIf="ensureList(coursePack[0]?.cmCourseInfo?.breadthRequirements).length !== 0">
                <div class="loud-header" [matTooltipDisabled]="constants.disableToolTips"
                    matTooltip="This course fullfills these breadth requirements, credits split among them"
                    matTooltipPosition="left" matTooltipShowDelay="200">
                    Breadths</div>
                <div *ngFor="let brq of ensureList(coursePack[0].cmCourseInfo.breadthRequirements)">
                    {{brq}}
                </div>
            </div>
        </div>



    </div>
</ng-container>