<div class="flexit">
    <div>
        <div class="flexit">
            <div *ngFor="let meets of groupMeetings(ensureSchedule(element))">
                <div *ngFor="let confInfo of [meetingCollectionConflicts(meets, crs, element)]">

                    <div class="r-chip" [style.min-height]="24"
                        [style.background-color]="(confInfo === null) ? getDayColor(forceNum(meets[0].start.day)) : util.conflictColor"
                        [style.color]="(confInfo === null) ? getDayColoredText(forceNum(meets[0].start.day)) : util.conflictTextColor">

                        <div class="meeting-day"
                            [style.width.px]="getDayCode(forceNum(meets[0].start.day)).length * 10 + 15"
                            [style.background-color]="(confInfo === null) ? getDayBrightenedColors(forceNum(meets[0].start.day)) : util.conflictBrightColor">
                            <div class="vert-center">
                                {{ getDayCode(forceNum(meets[0].start.day)) }}
                            </div>
                        </div>

                        <div class="meeting-time">
                            <div class="vert-center">
                                <div class="flex-horizontal-nowrap">
                                    <div *ngIf="util.is24hour">
                                        {{getTimeCode(forceNum(meets[0].start.millisofday))}}-{{getTimeCode(forceNum(meets[0].end.millisofday))}}
                                    </div>
                                    <div *ngIf="!util.is24hour">
                                        {{getTimeCode12(forceNum(meets[0].start.millisofday))}}{{ampm(forceNum(meets[0].start.millisofday))}}-{{getTimeCode12(forceNum(meets[0].end.millisofday))}}{{ampm(forceNum(meets[0].end.millisofday))}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="assigned-room">
                            <div class="flex-horizontal-nowrap">
                                <div *ngFor="let mt4 of getRidOfDuplicateLocations(meets)">
                                    <a [attr.href]="mt4.building.buildingUrl" target="_blank">
                                        {{ mt4.building.buildingCode }} {{
                                        mt4.building.buildingRoomNumber }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>